body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: #FFFFCC;
    
}

h1 {
    color: #6633FF;
    
}

h3 {
    color:#6633FF;
    
}

p {
    color: #6633FF;
}

.form {
    margin:auto;
    max-width: 300px;
}

.form_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

input {
    border-radius: 20px;
    padding: 12px;
    background:#CCCCFF;
    font-size: large;
    border: 2px solid #CCCCFF;
}

input:focus {
    outline: none;
}

ol {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ol {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    border-radius: 15px;
    border:2px solid #CCCCFF;
    background: #CCCCFF;
    padding: 10px;
    font-size: large;
    outline: none;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.button:hover {
    background: #FFFFCC;
    border:2px solid #CCCCFF;
}